body {
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  margin-top: 20px;
}

li {
  margin-bottom: 30px;
}

.main-img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px 0;
}

.footer {
  text-align: center;
  margin-top: 30px;
}